@charset "UTF-8";
/*********************************************************************************************

Theme Name: Podcast
Theme URI: https://www.ilovewp.com/themes/podcast/
Description: Podcast is a free WordPress theme intended for podcasts, youtubers, streamers, radio hosts, comedians, influencers and bloggers. Podcast theme comes with 7 built-in color palettes: black, blue, green, orange, purple, red, teal. The theme let's you put the sidebar on the left or on the right. 
Version: 1.0.4
Author: ilovewpcom
Author URI: https://www.ilovewp.com/
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: podcast
Tags: blog, entertainment, news, custom-logo, footer-widgets, one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-menu, editor-style, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

**********************************************************************************************

1.  Toolbox CSS  -----------------------  All Theme Files
2.  Page Structure: Header -------------  header.php
3.  Navigation  ------------------------  header.php
4.  Page Structure: Main Content  ------  
5.  Content Blocks ---------------------  
6.  Single Post / Page -----------------  single.php, page.php
7.  Comments Styling  ------------------  comments.php
8.  Page Structure: Footer  ------------  footer.php
9.  Misc  ------------------------------
10. Slicknav Responsive Menu  ----------
11. Additional Color Palettes  ---------
12. Media Queries  ---------------------

0. Normalize

*********************************************************************************************/
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  font-size: 16px;
  line-height: 1;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  /* 1 */
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bold; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clickable {
  cursor: pointer; }

/* Headings */
h1, h2, h3, h4, h5, h6, .widget-title, .archives-title {
  color: #0d0d0d;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.3;
  margin: 0; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1; }

h1 small, h2 small, h3 small {
  font-size: 65%; }

h4 small, h5 small, h6 small {
  font-size: 75%; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

/* Tables */
table {
  border-top: 0;
  margin-bottom: 2em;
  position: relative;
  table-layout: fixed;
  width: 100%;
  z-index: 1; }

table th {
  text-align: left; }

table tr {
  border-bottom: 1px solid #F0F0F0; }

table th,
table td {
  font-family: inherit;
  font-size: inherit;
  padding: 0.8125rem 1.25rem;
  vertical-align: middle; }

.floatleft {
  float: left; }

.floatright {
  float: right; }

.sticky, .bypostauthor {
  position: relative; }

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

ul ul, ol ol, ul ol, ol ul {
  margin: 0; }

/*--------------------------------------------------------------
2.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/*--------------------------------------------------------------
3.0 Alignments
--------------------------------------------------------------*/
.entry-content .alignleft,
.textwidget .alignleft {
  display: inline;
  float: left;
  margin-right: 2.5rem;
  margin-left: 0; }

.entry-content .alignright,
.textwidget .alignright {
  display: inline;
  float: right;
  margin-right: 0;
  margin-left: 2.5rem; }

.entry-content .aligncenter,
.textwidget .aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
4.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #333;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.66; }

p {
  margin: 0;
  padding: 0; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  color: #666;
  font-size: 1rem;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.7;
  margin: 0;
  overflow: hidden;
  padding: 0; }

blockquote cite {
  display: block;
  font-style: normal;
  font-weight: 600;
  margin-top: 0.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  background: #eee;
  text-decoration: none; }

big {
  font-size: 125%; }

blockquote {
  quotes: "" ""; }

q {
  quotes: "“" "”" "‘" "’"; }

blockquote:before,
blockquote:after {
  content: ""; }

:focus {
  outline: none; }

/* Typography for Arabic Font */
html[lang="ar"] body,
html[lang="ar"] button,
html[lang="ar"] input,
html[lang="ar"] select,
html[lang="ar"] textarea,
html[lang="ary"] body,
html[lang="ary"] button,
html[lang="ary"] input,
html[lang="ary"] select,
html[lang="ary"] textarea,
html[lang="azb"] body,
html[lang="azb"] button,
html[lang="azb"] input,
html[lang="azb"] select,
html[lang="azb"] textarea,
html[lang="fa-IR"] body,
html[lang="fa-IR"] button,
html[lang="fa-IR"] input,
html[lang="fa-IR"] select,
html[lang="fa-IR"] textarea,
html[lang="haz"] body,
html[lang="haz"] button,
html[lang="haz"] input,
html[lang="haz"] select,
html[lang="haz"] textarea,
html[lang="ps"] body,
html[lang="ps"] button,
html[lang="ps"] input,
html[lang="ps"] select,
html[lang="ps"] textarea,
html[lang="ur"] body,
html[lang="ur"] button,
html[lang="ur"] input,
html[lang="ur"] select,
html[lang="ur"] textarea {
  font-family: Tahoma, Arial, sans-serif; }

html[lang="ar"] h1,
html[lang="ar"] h2,
html[lang="ar"] h3,
html[lang="ar"] h4,
html[lang="ar"] h5,
html[lang="ar"] h6,
html[lang="ary"] h1,
html[lang="ary"] h2,
html[lang="ary"] h3,
html[lang="ary"] h4,
html[lang="ary"] h5,
html[lang="ary"] h6,
html[lang="azb"] h1,
html[lang="azb"] h2,
html[lang="azb"] h3,
html[lang="azb"] h4,
html[lang="azb"] h5,
html[lang="azb"] h6,
html[lang="fa-IR"] h1,
html[lang="fa-IR"] h2,
html[lang="fa-IR"] h3,
html[lang="fa-IR"] h4,
html[lang="fa-IR"] h5,
html[lang="fa-IR"] h6,
html[lang="haz"] h1,
html[lang="haz"] h2,
html[lang="haz"] h3,
html[lang="haz"] h4,
html[lang="haz"] h5,
html[lang="haz"] h6,
html[lang="ps"] h1,
html[lang="ps"] h2,
html[lang="ps"] h3,
html[lang="ps"] h4,
html[lang="ps"] h5,
html[lang="ps"] h6,
html[lang="ur"] h1,
html[lang="ur"] h2,
html[lang="ur"] h3,
html[lang="ur"] h4,
html[lang="ur"] h5,
html[lang="ur"] h6 {
  font-weight: 700; }

/* Typography for Chinese Font */
html[lang^="zh-"] body,
html[lang^="zh-"] button,
html[lang^="zh-"] input,
html[lang^="zh-"] select,
html[lang^="zh-"] textarea {
  font-family: "PingFang TC", "Helvetica Neue", Helvetica, STHeitiTC-Light, Arial, sans-serif; }

html[lang="zh-CN"] body,
html[lang="zh-CN"] button,
html[lang="zh-CN"] input,
html[lang="zh-CN"] select,
html[lang="zh-CN"] textarea {
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, STHeitiSC-Light, Arial, sans-serif; }

html[lang^="zh-"] h1,
html[lang^="zh-"] h2,
html[lang^="zh-"] h3,
html[lang^="zh-"] h4,
html[lang^="zh-"] h5,
html[lang^="zh-"] h6 {
  font-weight: 700; }

/* Typography for Cyrillic Font */
html[lang="bg-BG"] body,
html[lang="bg-BG"] button,
html[lang="bg-BG"] input,
html[lang="bg-BG"] select,
html[lang="bg-BG"] textarea,
html[lang="ru-RU"] body,
html[lang="ru-RU"] button,
html[lang="ru-RU"] input,
html[lang="ru-RU"] select,
html[lang="ru-RU"] textarea,
html[lang="uk"] body,
html[lang="uk"] button,
html[lang="uk"] input,
html[lang="uk"] select,
html[lang="uk"] textarea {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif; }

html[lang="bg-BG"] h1,
html[lang="bg-BG"] h2,
html[lang="bg-BG"] h3,
html[lang="bg-BG"] h4,
html[lang="bg-BG"] h5,
html[lang="bg-BG"] h6,
html[lang="ru-RU"] h1,
html[lang="ru-RU"] h2,
html[lang="ru-RU"] h3,
html[lang="ru-RU"] h4,
html[lang="ru-RU"] h5,
html[lang="ru-RU"] h6,
html[lang="uk"] h1,
html[lang="uk"] h2,
html[lang="uk"] h3,
html[lang="uk"] h4,
html[lang="uk"] h5,
html[lang="uk"] h6 {
  font-weight: 700;
  line-height: 1.2; }

/* Typography for Devanagari Font */
html[lang="bn-BD"] body,
html[lang="bn-BD"] button,
html[lang="bn-BD"] input,
html[lang="bn-BD"] select,
html[lang="bn-BD"] textarea,
html[lang="hi-IN"] body,
html[lang="hi-IN"] button,
html[lang="hi-IN"] input,
html[lang="hi-IN"] select,
html[lang="hi-IN"] textarea,
html[lang="mr-IN"] body,
html[lang="mr-IN"] button,
html[lang="mr-IN"] input,
html[lang="mr-IN"] select,
html[lang="mr-IN"] textarea {
  font-family: Arial, sans-serif; }

html[lang="bn-BD"] h1,
html[lang="bn-BD"] h2,
html[lang="bn-BD"] h3,
html[lang="bn-BD"] h4,
html[lang="bn-BD"] h5,
html[lang="bn-BD"] h6,
html[lang="hi-IN"] h1,
html[lang="hi-IN"] h2,
html[lang="hi-IN"] h3,
html[lang="hi-IN"] h4,
html[lang="hi-IN"] h5,
html[lang="hi-IN"] h6,
html[lang="mr-IN"] h1,
html[lang="mr-IN"] h2,
html[lang="mr-IN"] h3,
html[lang="mr-IN"] h4,
html[lang="mr-IN"] h5,
html[lang="mr-IN"] h6 {
  font-weight: 700; }

/* Typography for Greek Font */
html[lang="el"] body,
html[lang="el"] button,
html[lang="el"] input,
html[lang="el"] select,
html[lang="el"] textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

html[lang="el"] h1,
html[lang="el"] h2,
html[lang="el"] h3,
html[lang="el"] h4,
html[lang="el"] h5,
html[lang="el"] h6 {
  font-weight: 700;
  line-height: 1.3; }

/* Typography for Gujarati Font */
html[lang="gu-IN"] body,
html[lang="gu-IN"] button,
html[lang="gu-IN"] input,
html[lang="gu-IN"] select,
html[lang="gu-IN"] textarea {
  font-family: Arial, sans-serif; }

html[lang="gu-IN"] h1,
html[lang="gu-IN"] h2,
html[lang="gu-IN"] h3,
html[lang="gu-IN"] h4,
html[lang="gu-IN"] h5,
html[lang="gu-IN"] h6 {
  font-weight: 700; }

/* Typography for Hebrew Font */
html[lang="he-IL"] body,
html[lang="he-IL"] button,
html[lang="he-IL"] input,
html[lang="he-IL"] select,
html[lang="he-IL"] textarea {
  font-family: "Arial Hebrew", Arial, sans-serif; }

html[lang="he-IL"] h1,
html[lang="he-IL"] h2,
html[lang="he-IL"] h3,
html[lang="he-IL"] h4,
html[lang="he-IL"] h5,
html[lang="he-IL"] h6 {
  font-weight: 700; }

/* Typography for Japanese Font */
html[lang="ja"] body,
html[lang="ja"] button,
html[lang="ja"] input,
html[lang="ja"] select,
html[lang="ja"] textarea {
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif; }

html[lang="ja"] h1,
html[lang="ja"] h2,
html[lang="ja"] h3,
html[lang="ja"] h4,
html[lang="ja"] h5,
html[lang="ja"] h6 {
  font-weight: 700; }

/* Typography for Korean font */
html[lang="ko-KR"] body,
html[lang="ko-KR"] button,
html[lang="ko-KR"] input,
html[lang="ko-KR"] select,
html[lang="ko-KR"] textarea {
  font-family: "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", Dotum, sans-serif; }

html[lang="ko-KR"] h1,
html[lang="ko-KR"] h2,
html[lang="ko-KR"] h3,
html[lang="ko-KR"] h4,
html[lang="ko-KR"] h5,
html[lang="ko-KR"] h6 {
  font-weight: 600; }

/* Typography for Thai Font */
html[lang="th"] h1,
html[lang="th"] h2,
html[lang="th"] h3,
html[lang="th"] h4,
html[lang="th"] h5,
html[lang="th"] h6 {
  line-height: 1.65;
  font-family: "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans-serif; }

html[lang="th"] body,
html[lang="th"] button,
html[lang="th"] input,
html[lang="th"] select,
html[lang="th"] textarea {
  line-height: 1.8;
  font-family: "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* Remove letter-spacing for all non-latin alphabets */
html[lang="ar"] *,
html[lang="ary"] *,
html[lang="azb"] *,
html[lang="haz"] *,
html[lang="ps"] *,
html[lang^="zh-"] *,
html[lang="bg-BG"] *,
html[lang="ru-RU"] *,
html[lang="uk"] *,
html[lang="bn-BD"] *,
html[lang="hi-IN"] *,
html[lang="mr-IN"] *,
html[lang="el"] *,
html[lang="gu-IN"] *,
html[lang="he-IL"] *,
html[lang="ja"] *,
html[lang="ko-KR"] *,
html[lang="th"] * {
  letter-spacing: 0 !important; }

/*--------------------------------------------------------------
6.0 Forms
--------------------------------------------------------------*/
label {
  color: #424242;
  display: block;
  font-weight: 700;
  margin-bottom: 0.5em; }

fieldset {
  margin-bottom: 1em; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  background: #fff;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: block;
  padding: 0.7em;
  width: 100%;
  transition: all 0.2s ease-in-out; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #222;
  border: solid 4px #058dd1;
  box-shadow: 0 2px 8px rgba(67, 79, 91, 0.2); }

select {
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 3em;
  max-width: 100%; }

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.5em; }

input[type="radio"] + label,
input[type="checkbox"] + label {
  font-weight: 400; }

button,
input[type="button"],
input[type="submit"] {
  background-color: #058dd1;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.8125rem 1.5rem;
  text-shadow: none;
  transition: all 0.15s ease-in-out; }

input + button,
input + input[type="button"],
input + input[type="submit"] {
  padding: 0.75em 2em; }

button.secondary,
input[type="reset"],
input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary {
  background-color: #ddd;
  color: #222; }

input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #da270b; }

button.secondary:hover,
button.secondary:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"].secondary:hover,
input[type="button"].secondary:focus,
input[type="reset"].secondary:hover,
input[type="reset"].secondary:focus,
input[type="submit"].secondary:hover,
input[type="submit"].secondary:focus {
  background: #bbb; }

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
  color: #333;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif; }

:-moz-placeholder {
  color: #333;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif; }

::-moz-placeholder {
  color: #333;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  opacity: 1;
  /* Since FF19 lowers the opacity of the placeholder by default */ }

:-ms-input-placeholder {
  color: #333;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif; }

/*--------------------------------------------------------------
7.0 Tables
--------------------------------------------------------------*/
table {
  border-collapse: collapse;
  margin: 0 0 1.5em;
  width: 100%; }

thead th {
  border-bottom: 0; }

th {
  padding: 0.5rem;
  text-align: left; }

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

td {
  padding: 0.5rem; }

/********************************************************************************************* 

1. Page Structure: Common layout elements

*********************************************************************************************/
a {
  color: #058dd1;
  text-decoration: none;
  transition: all 0.2s ease-in-out; }

a:hover, a:focus {
  color: #12bed9; }

a:focus {
  outline: 1px dotted;
  outline-offset: 2px;
  text-decoration: underline; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #0d0d0d; }

h1 a:hover, h1 a:focus,
h2 a:hover, h2 a:focus,
h3 a:hover, h3 a:focus,
h4 a:hover, h4 a:focus,
h5 a:hover, h5 a:focus,
h6 a:hover, h6 a:focus {
  color: #da270b; }

body {
  background-color: #f7f7f7;
  color: #272727;
  font-family: Poppins, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#container {
  font-size: 1rem;
  line-height: 1.75em;
  padding: 0;
  text-align: center;
  width: 100%; }

.site-wrapper-all {
  padding: 0;
  text-align: center; }

.site-section-wrapper {
  margin: 0 auto;
  padding: 0 60px;
  text-align: left;
  width: 1220px; }

li.cleaner,
div.cleaner,
div.divider {
  margin: 0;
  clear: both;
  font-size: 1px;
  height: 1px;
  line-height: 1px; }

.centered,
.title-center {
  text-align: center; }

/********************************************************************************************* 

2. Page Structure: Header

*********************************************************************************************/
#site-masthead {
  background-color: #fff;
  padding: 1rem 0;
  position: relative;
  z-index: 3;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.07); }

.page-header-centered .site-section-wrapper-masthead {
  text-align: center; }

#site-masthead-contacts {
  background-color: #f3f5f6;
  border-width: 0 0 1px;
  font-size: 0.8125rem;
  padding: 0.8125rem;
  box-shadow: none; }

#site-logo {
  display: inline-block;
  padding-right: 40px;
  text-align: left;
  vertical-align: middle;
  width: 27.27272727%; }

#site-logo .custom-logo {
  height: auto;
  max-width: 100%; }

#site-logo .site-title {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 0;
  text-transform: uppercase; }

#site-logo .site-description {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0;
  margin: 10px 0 0; }

/********************************************************************************************* 

3. Navigation

*********************************************************************************************/
/* Mobile Menu Icons */
.site-navbar-header {
  display: none; }

/* Start Primary Navigation */
#site-section-primary-menu {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 72.72727272%;
  z-index: 3; }

#site-primary-nav {
  font-family: Poppins, Arial, sans-serif;
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 1em; }

/* Dropdown Menu */
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.sf-menu li {
  position: relative; }

.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99; }

.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
  display: block; }

.sf-menu a {
  display: inline-block;
  position: relative; }

.sf-menu ul ul {
  top: 0;
  left: 100%; }

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  display: inline;
  margin: 0 0 0 6px;
  -webkit-font-smoothing: antialiased;
  font: normal 16px/16px 'FontAwesome';
  vertical-align: top; }

.sf-arrows ul .sf-with-ul:after {
  content: "\f345";
  font: normal 12px/9px 'dashicons';
  float: right; }

.sf-arrows ul li > .sf-with-ul:focus:after, .sf-arrows ul li:hover > .sf-with-ul:after, .sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: white; }

.large-nav {
  position: relative;
  z-index: 100; }

.large-nav > .menu-item {
  display: inline-block;
  letter-spacing: 0;
  margin-right: 0;
  position: relative;
  text-transform: uppercase; }

.large-nav > .menu-item + .menu-item {
  margin-left: 1.5rem; }

.large-nav a {
  color: #121212;
  padding: 18px 2px; }

.large-nav .menu-item-has-children > a {
  position: relative; }

.large-nav ul a {
  color: #121212; }

.large-nav ul a {
  text-align: left;
  text-transform: none; }

.large-nav ul {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  left: 0;
  text-align: left;
  width: 220px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); }

.large-nav > li > ul:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ffffff;
  position: absolute;
  top: -7px;
  left: 31px;
  z-index: 470; }

.large-nav > li > ul:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ccc;
  position: absolute;
  top: -8px;
  left: 30px;
  z-index: 460; }

.large-nav ul .menu-item {
  border-bottom: 1px solid #F0F0F0;
  display: block;
  font-weight: 600;
  margin: 0;
  text-transform: none; }

.large-nav ul li:hover,
.large-nav ul li:focus {
  background-color: #f8f8f8; }

.large-nav ul li:last-child {
  border: none; }

.large-nav ul a {
  display: block;
  font-size: 13px;
  line-height: 1.6em;
  padding: 13px 20px; }

.large-nav ul ul {
  right: 100%;
  margin-top: 0px; }

.large-nav a:hover,
.large-nav a:focus,
.large-nav .current-menu-item > a,
.large-nav .current_page_item > a,
.large-nav .current-menu-parent > a {
  color: #12bed9; }

.large-nav .current-menu-item > a {
  text-decoration: underline; }

/********************************************************************************************* 

4. Page Structure: Content Layout

*********************************************************************************************/
.page-intro-header {
  background-color: #12bed9;
  color: #02191c;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 2em; }

.ilovewp-featured-post .entry-title {
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 1.4em; }

.ilovewp-featured-post .entry-title a,
#site-home-welcome .widget-title {
  color: #070707; }

.ilovewp-featured-post .entry-title a:hover,
.ilovewp-featured-post .entry-title a:focus {
  text-decoration: underline; }

.ilovewp-featured-post .entry-preview {
  font-size: 1rem; }

.ilovewp-featured-post .entry-tagline {
  background-color: #070707;
  color: #fff;
  display: inline-block;
  font-size: 0.8125rem;
  font-weight: 500;
  margin-bottom: 2rem;
  padding: 2px 10px; }

.ilovewp-featured-post .post-meta-span-headline {
  text-transform: uppercase; }

.site-section-page-header-wrapper {
  padding-top: 120px;
  padding-bottom: 5rem; }

.page-intro-subscribe {
  background-color: #0fa6bd;
  color: black;
  padding: 3rem 0; }

.page-intro-subscribe .widget-title,
.page-intro-subscribe h2,
.page-intro-subscribe h3 {
  color: #070707;
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  margin-bottom: 2rem; }

.page-intro-subscribe .page-title-span:after {
  background-color: #070707; }

.page-intro-subscribe a {
  color: #fff; }

.page-intro-subscribe a:hover,
.page-intro-subscribe a:focus {
  color: #070707; }

.site-columns .site-column {
  display: inline-block;
  vertical-align: top; }

.site-columns-2 .site-column {
  width: 50%; }

.site-columns-3 .site-column {
  width: 33.33333333%; }

.site-columns-4 .site-column {
  width: 25%; }

.site-columns-5 .site-column {
  width: 20%; }

.site-column-aside .site-columns .site-column {
  display: block;
  width: 100%; }

.site-column-aside .site-columns .site-column + .site-column {
  margin-top: 2rem; }

.site-column-aside .site-archive-post .entry-title {
  font-size: 1rem;
  line-height: 1.5em; }

.site-column-aside,
#site-home-welcome .site-column-2 {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.75em;
  vertical-align: top;
  width: 27.27272727%; }

.site-column-content,
#site-home-welcome .site-column-1 {
  display: inline-block;
  vertical-align: top;
  width: 72.72727272%; }

/*
.site-section-wrapper-main {
  background-color: #fff;
  border-top: solid 10px #195899;
  margin-top: -80px;
  padding-top: 3.75rem;
  padding-bottom: 5rem;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 10px rgba(12, 12, 12, 0.05); }
*/
.site-section-wrapper-main {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative; }

.page-sidebar-left .site-column-aside {
  float: left; }

.page-sidebar-left .site-column-content {
  float: right; }

.site-column-aside .widget {
  margin-bottom: 40px; }

.site-column-aside .textwidget p {
  margin-bottom: 2em; }

.site-column-aside .textwidget p:last-of-type {
  margin-bottom: 0; }

.page-sidebar-left .site-column-content .site-column-wrapper {
  padding-right: 0;
  padding-left: 80px; }

.page-sidebar-right .site-column-content .site-column-wrapper {
  padding-right: 80px;
  padding-left: 0; }

.page-sidebar-right .site-column-aside {
  float: right; }

.page-sidebar-right .site-column-content {
  float: left; }

/********************************************************************************************* 

5. Page Structure: Content Sections, Blocks, Elements

*********************************************************************************************/
.entry-tagline {
  color: #777;
  font-size: 0.75rem;
  margin: 0 0 1.25rem; }

.entry-tagline a {
  color: #0d0d0d;
  text-decoration: underline; }

.entry-tagline a:hover,
.entry-tagline a:focus {
  color: #da270b; }

.ilovewp-featured-post .entry-tagline .post-meta-span + .post-meta-span:before {
  content: '//';
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1em;
  margin: 0 0.875rem; }

.site-archive-post .entry-excerpt,
.site-archive-post .entry-actions {
  margin-top: 1.75rem; }

.entry-excerpt iframe {
  margin: 2rem 0 0; }

.site-archive-post .entry-preview-wrapper > :first-child {
  margin-top: 0; }

.entry-title {
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  line-height: 1.5em;
  margin: 0 0 1.5rem; }

.site-archive-post .entry-title:last-child {
  margin-bottom: 0; }

.site-columns-widget .site-archive-post .entry-title {
  font-size: 1.5rem; }

.site-archive-post .entry-tagline,
.single .entry-tagline {
  font-weight: 500; }

.site-archive-post .entry-tagline .post-meta-span-time,
.single .entry-tagline .post-meta-span-time {
  background-color: #070707;
  color: #fff;
  display: inline-block;
  padding: 2px 10px; }

.site-archive-post .entry-tagline .post-meta-span + .post-meta-span,
.single .entry-tagline .post-meta-span + .post-meta-span {
  margin-left: 1rem; }

.site-archive-post .entry-preview {
  font-size: 0.9375rem;
  line-height: 1.9em; }

#site-homepage-widgets .widget-title,
#site-main .archives-title,
#site-main #reply-title,
#ilovewp-comments .comments-title {
  display: block;
  font-family: Poppins, Arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.25em;
  margin: 0 0 3rem;
  padding: 0; }

#site-main .archives-title {
  margin-bottom: 3rem; }

.site-archive-post .entry-actions a {
  text-decoration: underline; }

#site-homepage-widgets .widget-title {
  border-bottom: solid 1px #ddd;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem; }

.widget-pretitle {
  color: #da270b;
  display: block;
  font-size: 1rem;
  letter-spacing: -0.5px;
  margin: 0 0 0.5rem; }

/* Post Archives */
.site-archive-posts .site-archive-post + .site-archive-post {
  border-top: dashed 2px #ddd;
  margin-top: 40px;
  padding-top: 40px; }

.site-archive-posts .entry-thumbnail {
  display: inline-block;
  vertical-align: top;
  width: 20.83333333%; }

.site-archive-posts .has-post-thumbnail .entry-preview {
  display: inline-block;
  width: 79.16666666%; }

.site-archive-posts .has-post-thumbnail .entry-preview-wrapper {
  padding: 0 0 0 40px; }

.site-archive-posts .site-archive-post .entry-preview-wrapper > :first-child {
  margin-top: 0; }

.site-column-aside .current-menu-item,
.site-column-aside .current-cat {
  font-weight: 700; }

.site-column-aside .current-menu-item > a,
.site-column-aside .current-cat a {
  color: #cf4330;
  text-decoration: underline; }

/* Homepage Columns */
#site-home-welcome .site-column-1 {
  width: 72.72727272%; }

#site-home-welcome .site-column-1 .site-column-wrapper {
  padding-right: 80px; }

.page-intro-featured-pages {
  background-color: #fff;
  color: #a5edf8;
  padding: 5rem 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.07); }

.ilovewp-featured-pages-list .ilovewp-featured-page-item {
  display: inline-block;
  float: none;
  margin-right: 3.63636363%;
  vertical-align: top;
  width: 30.90909090%; }

.ilovewp-featured-pages-list .ilovewp-featured-page-item:last-of-type {
  margin-right: 0; }

.ilovewp-featured-page-item .entry-title {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0;
  position: absolute;
  left: -20px;
  bottom: 20px;
  z-index: 4; }

.ilovewp-featured-page-item .entry-title a {
  background-color: #12bed9;
  color: #070707;
  display: inline-block;
  padding: 7px 20px; }

.ilovewp-featured-page-item .entry-title a:hover,
.ilovewp-featured-page-item .entry-title a:focus {
  background-color: #da270b;
  color: #fff; }

.ilovewp-featured-page-item .entry-thumbnail:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  z-index: 2;
  border: solid 1px rgba(255, 255, 255, 0.4);
  transition: all 0.15s ease-in-out; }

.ilovewp-featured-page-item:hover .entry-thumbnail:after {
  border-width: 5px; }

/********************************************************************************************* 

6. Single: Post/Page Styling

*********************************************************************************************/
.page-title {
  font-family: Poppins, Arial, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.35em;
  margin-bottom: 3.5rem;
  padding: 0; }

.page-title-span {
  display: inline-block;
  position: relative; }

.page-title-span:after {
  background-color: #333;
  content: '';
  display: inline-block;
  height: 2px;
  margin: 0 0 0 2rem;
  width: 120px; }

.page-title:last-child {
  margin-bottom: 0; }

.page-meta {
  font-size: 0.875em; }

.page-meta-hr {
  background-color: #f0f0f0;
  border: 0;
  height: 1px;
  margin: 3rem 0; }

.entry-inner-thumbnail {
  margin-bottom: 1.875rem; }

.entry-content,
.archives-content {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75em;
  margin: 0;
  max-width: 100%;
  text-align: left; }

.archives-content {
  margin-bottom: 3rem; }

.entry-content li + li {
  margin-top: 0.25rem; }

.entry-content h1 {
  font-size: 2em; }

.entry-content h2 {
  font-size: 1.25em; }

.entry-content h3 {
  font-size: 1.125em; }

.entry-content h4 {
  font-size: 1em; }

.entry-content h5 {
  font-size: 1em; }

.entry-content h6 {
  font-size: 1em; }

.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  font-weight: 700;
  margin: 1.25em 0 1.25em;
  line-height: 1.3em; }

.entry-content p,
.textwidget p {
  margin-top: 0;
  margin-bottom: 2rem; }

.entry-content p:last-child,
.textwidget p:last-child {
  margin-bottom: 0; }

.entry-content img {
  margin-bottom: 1.5rem; }

.entry-content img.callout {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; }

.entry-content img.alignnone,
.entry-content img.aligncenter,
.entry-content img.alignleft,
.entry-content img.alignright {
  max-width: 100%;
  width: auto;
  height: auto; }

.entry-content iframe {
  max-width: 100%; }

.entry-content textarea {
  max-width: 97%; }

.entry-content blockquote {
  background-color: #fff;
  border: solid 1px #e7e7e7;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  margin: 3rem 0;
  padding: 3rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.entry-content a,
.textwidget a {
  font-weight: 600;
  text-decoration: underline; }

.entry-content a:hover,
.entry-content a:focus {
  cursor: pointer; }

.entry-content table,
.widget table {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 3rem 0; }

.widget table:first-child {
  margin-top: 0; }

.entry-content table caption,
.widget table caption {
  font-weight: bold;
  margin: 0 0 1rem;
  padding: 0.5rem 20px;
  text-align: center; }

.entry-content table tbody,
.widget table tbody {
  border: solid 1px #dadada;
  border-width: 1px; }

.widget table tfoot td:first-of-type {
  border-left: solid 1px #dadada; }

.entry-content table:last-child,
.widget table:last-child {
  margin-bottom: 0; }

.entry-content table th,
.entry-content table td,
.widget table th,
.widget table td {
  border-right: solid 1px #dadada;
  font-size: 0.875rem;
  line-height: 1.75em; }

.entry-content table th,
.widget table th {
  border-right-color: rgba(255, 255, 255, 0.1); }

.entry-content table th:last-child,
.widget table th:last-child {
  border-right-width: 0; }

.entry-content thead th,
.widget thead th {
  background-color: #282828;
  color: #fff; }

.entry-content table thead tr,
.widget table thead tr {
  border-bottom-width: 0; }

.entry-content table tr,
.widget table tr {
  border-bottom: solid 1px #dadada;
  transition: all 0.2s ease-in-out; }

.entry-content tr:nth-child(odd),
.widget tr:nth-child(odd) {
  background-color: white; }

.entry-content tr:nth-child(even),
.widget tr:nth-child(even) {
  background-color: #eee; }

.entry-content tr:nth-child(even) td,
.widget tr:nth-child(even) td {
  border-right-color: #dadada; }

/*--------------------------------------------------------------
7.0 Formatting
--------------------------------------------------------------*/
#site-main hr {
  background-color: #f0f0f0;
  border: 0;
  height: 1px;
  margin: 3rem 0; }

/* Gallery Template */
.gallery-item {
  display: inline-block;
  margin: 0;
  padding: 3px;
  vertical-align: top; }

.gallery-columns-2 .gallery-item {
  width: 50%; }

.gallery-columns-3 .gallery-item {
  width: 33.333333%; }

.gallery-columns-4 .gallery-item {
  width: 25%; }

.gallery-columns-5 .gallery-item {
  width: 20%; }

.gallery-columns-6 .gallery-item {
  width: 16.666666%; }

.gallery-columns-7 .gallery-item {
  width: 14.28571428%; }

.gallery-columns-8 .gallery-item {
  width: 12.5%; }

.gallery-item .gallery-caption {
  margin-left: 0; }

.gallery-item img {
  height: auto;
  max-width: 100%;
  width: 100%; }

.gallery-item .post-content {
  text-align: center; }

/* Tags List */
.post-meta {
  border: solid 1px #e5e8eb;
  border-width: 1px 0 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 3rem 0;
  padding: 3em 0 0;
  text-align: center; }

.post-meta a {
  font-weight: normal;
  margin: 0;
  position: relative;
  z-index: 5;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

/*--------------------------------------------------------------
8.0 Lists
--------------------------------------------------------------*/
.entry-content ul,
.entry-content ol {
  list-style-position: outside;
  margin: 2em 0 2rem;
  padding: 0; }

.entry-content ul {
  list-style-type: disc; }

.entry-content ol {
  list-style-type: decimal; }

.entry-content li {
  display: list-item;
  list-style-type: circle; }

.entry-content li > ul,
.entry-content li > ol {
  margin: 1.5rem 0 1.5rem 2rem; }

.entry-content dt {
  font-weight: 700; }

.entry-content dd {
  margin: 0 1.5em 1.5em; }

.entry-content ul:last-child {
  margin-bottom: 0; }

/********************************************************************************************* 

7. Comments Styling

*********************************************************************************************/
#ilovewp-comments .comment-reply-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 0.75em; }

.comments-area {
  margin: 3em 0 0;
  text-align: left; }

.comments-area .comments-title {
  margin: 0 0 2em; }

.page .comments-area {
  margin-left: 0; }

.comment-list {
  margin: 1.75em 0; }

.comment-list,
.comment-list .children {
  list-style-type: none;
  padding: 0; }

.comment,
.pingback,
.trackback {
  padding: 1.75em 0; }

.depth-1 {
  border-bottom: solid 1px #ece8e0; }

.depth-1:first-child {
  margin-top: 0;
  padding-top: 0; }

.children {
  margin-top: 24px; }

.children .comment {
  border-left: 5px solid #e7e7e7;
  padding-left: 24px; }

.comment-author .avatar {
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

.comment-meta {
  margin-bottom: 0; }

.comment-meta .fn {
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-right: 15px; }

.says {
  display: none; }

.comment-metadata {
  display: inline-block;
  font-size: 14px; }

.comment-metadata a {
  color: #058dd1; }

.comment-metadata a:hover {
  color: #da270b; }

.comment-content a {
  word-wrap: break-word; }

.comment-tools {
  display: inline-block;
  float: right; }

.comment-tools a {
  font-size: 13px;
  font-weight: normal; }

.comment-reply-link {
  margin-left: 10px; }

.comment-respond {
  padding: 0 20px 20px 0; }

.comment-list .comment-respond {
  padding-top: 30px; }

.comment-content {
  color: #555;
  font-size: 15px;
  line-height: 1.75em;
  overflow: hidden; }

.comment-content p {
  margin: 1em 0 0; }

.comment-form label {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin: 1em 0;
  text-transform: uppercase; }

.comment-form label .required {
  color: #e95445;
  font-weight: 700; }

.form-allowed-tags {
  font-size: 13px; }

.no-comments {
  text-align: center; }

.bypostauthor {
  display: block; }

/********************************************************************************************* 

8. Page Structure: Footer

*********************************************************************************************/
#site-footer {
  background-color: #fff;
  border-top: solid 1px #ebebeb;
  color: #555;
  font-size: 0.875rem;
  line-height: 1.8em;
  margin: 0;
  padding: 80px 0 80px;
  position: relative; }

#site-footer .site-column-wrapper {
  padding: 0 20px; }

#site-footer a {
  color: #272727; }

#site-footer .current-menu-item a,
#site-footer a:hover,
#site-footer a:focus {
  color: #da270b;
  text-decoration: underline; }

#site-footer .widget-title {
  color: #12bed9; }

#site-footer-credit {
  background-color: #070707;
  color: #888;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 2em;
  padding: 30px 0; }

#site-footer-credit .site-section-wrapper {
  text-align: center; }

#site-footer-credit a {
  color: inherit;
  text-decoration: underline; }

#site-footer-credit a:hover,
#site-footer-credit a:focus {
  color: #da270b; }

#site-footer-credit .site-credit {
  margin: 0; }

#site-footer-credit .site-footer-extra {
  float: right; }

#site-footer-credit .widget-title {
  display: none; }

#site-footer-credit .site-footer-extra li {
  display: inline-block; }

#site-footer-credit .site-footer-extra li + li {
  margin-left: -4px; }

#site-footer-credit li + li:before {
  color: #e6e6e6;
  content: '|';
  display: inline-block;
  font-size: 0.7500187505rem;
  line-height: 1em;
  margin: 0 0.5rem; }

#site-footer .textwidget p + p {
  margin-top: 2em; }

#site-footer .textwidget a {
  font-weight: 700;
  text-decoration: underline; }

/********************************************************************************************* 

9. Misc

*********************************************************************************************/
/* Thumbnails */
.entry-thumbnail,
.post-thumbnail {
  position: relative; }

.entry-thumbnail .thumbnail,
.entry-thumbnail .wp-post-image,
.wp-caption img,
.post-thumbnail .thumbnail {
  height: auto;
  max-width: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* Common Widgets Styling */
.widget {
  margin-bottom: 40px; }

.widget:last-of-type {
  margin-bottom: 0; }

.widget-title {
  font-family: Poppins, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0 0 1.25rem;
  position: relative; }

/* WordPress Core Widget: Recent Posts */
.widget_recent_entries li {
  border-bottom: solid 1px #eee;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  line-height: 1.75em;
  margin: 0 0 15px;
  padding-bottom: 15px; }

.widget_recent_entries li:last-of-type {
  border-bottom-width: 0;
  margin-bottom: 0;
  padding-bottom: 0; }

.widget_recent_entries a {
  line-height: 1.6em; }

.widget_recent_entries .post-date {
  color: #999;
  color: rgba(0, 0, 0, 0.4);
  display: block;
  font-size: 12px;
  margin: 1em 0 0; }

/* WordPress Calendar Widget */
#site-footer .widget_calendar a {
  color: #da270b;
  text-decoration: underline; }

#wpstats {
  display: none; }

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.site-breadcrumbs, .site-breadcrumbs .trail-browse {
  color: #555555;
  font-size: 0.875rem; }

.site-breadcrumbs {
  display: block;
  line-height: 1.6em;
  margin: 0 0 3rem; }

.site-breadcrumbs .site-breadcrumbs-p > * {
  display: inline-block;
  margin: 0 0.5rem 0 0;
  padding: 0;
  line-height: 1.6em; }

.site-breadcrumbs .site-breadcrumbs-p > *:last-child {
  margin-right: 0; }

.site-breadcrumbs .fa {
  display: inline-block;
  margin-top: -3px;
  margin-left: 4px;
  margin-right: 6px; }

.site-breadcrumbs .trail-item:last-of-type .fa {
  display: none; }

.site-breadcrumbs .trail-begin {
  margin-top: -2px; }

.site-breadcrumbs .trail-begin .nicon-angle-right {
  margin-top: 1px; }

.site-breadcrumbs .trail-items {
  list-style: none; }

.site-breadcrumbs .trail-items li {
  display: inline-block; }

.site-breadcrumbs .trail-items li:last-child {
  margin-right: 0; }

.site-breadcrumbs .trail-items li:last-child .nicon-angle-right {
  display: none; }

.site-breadcrumbs a {
  color: #058dd1;
  font-weight: 400;
  text-decoration: underline; }

.site-breadcrumbs a:hover, .site-breadcrumbs a:focus {
  color: #12bed9; }

/* Captions */
.entry-content .wp-caption {
  font-size: 0.875rem;
  line-height: 1.75em;
  margin-top: 0;
  margin-bottom: 2.5rem;
  max-width: 100%;
  width: auto; }

.entry-content .wp-caption img {
  margin-bottom: 0; }

.entry-content .wp-caption .wp-caption-text {
  background-color: #eee;
  margin-top: 0;
  padding: 1.25rem; }

/*--------------------------------------------------------------
8.0 Post Author Box
--------------------------------------------------------------*/
.entry-authorbio-wrapper {
  border-top: solid 1px #ddd;
  font-size: 14px;
  line-height: 1.75em;
  margin: 2rem 0;
  padding-top: 2rem;
  text-align: left; }

.entry-authorbio-wrapper .avatar {
  border: solid 2px #fff;
  float: left;
  margin: 0 30px 0 0;
  vertical-align: top;
  -moz-box-shadow: 8px 8px 0px 0px #eee;
  -webkit-box-shadow: 5px 5px 0px 0px #eee;
  box-shadow: 5px 5px 0px 0px #eee; }

.entry-authorbio-wrapper .author-description {
  overflow: hidden; }

.entry-authorbio-wrapper .author-description p:last-of-type {
  margin-bottom: 0; }

.entry-authorbio-wrapper .author-title {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 1.25rem;
  text-transform: uppercase; }

.entry-authorbio-wrapper .author-links {
  display: inline-block;
  margin-left: 12px;
  vertical-align: top; }

.entry-authorbio-wrapper .author-links a + a {
  margin-left: 12px; }

.entry-authorbio-wrapper .author-bio {
  font-weight: 500; }

/*--------------------------------------------------------------
8.0 Post Navigation
--------------------------------------------------------------*/
.site-post-navigation {
  font-size: 14px;
  line-height: 1.5em;
  margin: 0;
  text-align: left; }

.site-post-navigation .site-post-nav-item {
  display: inline-block;
  margin: 0;
  text-align: left;
  vertical-align: top;
  width: 50%; }

.site-post-navigation .site-post-nav-next {
  float: right;
  text-align: right; }

.site-post-navigation .post-navigation-label {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 10px;
  text-transform: uppercase; }

.site-post-navigation .fa {
  margin-right: 5px; }

.site-post-navigation .site-post-nav-next .fa {
  margin-right: 0;
  margin-left: 5px; }

.site-post-navigation a {
  display: block; }

/*--------------------------------------------------------------
9.0 Archive Pagination/Navigation
--------------------------------------------------------------*/
.pagination {
  border-top: dashed 2px #ddd;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 3rem 0 0;
  padding-top: 3rem;
  text-align: center; }

.pagination .page-numbers {
  border: solid 1px #e5e8eb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  line-height: 1em;
  margin: 0 3px;
  padding: 0.75rem; }

.pagination a {
  color: #12bed9; }

.pagination .current,
.pagination a:hover,
.pagination a:focus {
  background-color: #12bed9;
  border-color: #12bed9;
  color: #fff; }

.pagination .current {
  color: #fff; }

/******************************************
10. SlickNav Responsive Mobile Menu
******************************************/
/*!
 * SlickNav Responsive Mobile Menu v1.0.10
 * (c) 2016 Josh Cope
 * licensed under MIT
 */
.slicknav_btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 1rem 1.5rem;
  line-height: 1.125em;
  margin: 0 auto;
  cursor: pointer; }

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 2px; }

.slicknav_menu {
  *zoom: 1; }

.slicknav_menu .slicknav_menutxt {
  display: inline-block;
  line-height: 1.188em;
  float: none; }

.slicknav_menu .slicknav_icon {
  display: inline-block;
  float: none;
  width: 20px;
  height: 10px;
  margin: 0 0 0 5px; }

.slicknav_menu .slicknav_icon:before {
  background: transparent;
  width: 1.125em;
  height: 0.875em;
  display: block;
  content: "";
  position: absolute; }

.slicknav_menu .slicknav_no-text {
  margin: 0; }

.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 20px;
  height: 2px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }

.slicknav_menu:before {
  content: " ";
  display: table; }

.slicknav_menu:after {
  content: " ";
  display: table;
  clear: both; }

.slicknav_nav {
  clear: both; }

.slicknav_nav ul {
  display: block; }

.slicknav_nav li {
  display: block;
  text-transform: uppercase; }

.slicknav_nav li li {
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  text-transform: none; }

.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em; }

.slicknav_nav .slicknav_item {
  cursor: pointer; }

.slicknav_nav .slicknav_item a {
  display: inline; }

.slicknav_nav .slicknav_row {
  display: inline-block; }

.slicknav_nav a {
  display: inline-block; }

.slicknav_nav .slicknav_parent-link a {
  display: inline; }

.slicknav_brand {
  float: left; }

.slicknav_menu {
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
  padding: 0; }

.slicknav_menu * {
  box-sizing: border-box; }

.slicknav_menu .slicknav_menutxt {
  color: #fff;
  font-weight: bold; }

.slicknav_menu .slicknav_icon-bar {
  background-color: #fff; }

.slicknav_btn {
  margin: 0 auto;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #111; }

.slicknav_nav {
  margin: 1.5rem 0 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
  overflow: hidden; }

.slicknav_nav ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0; }

.slicknav_nav .slicknav_row {
  border-bottom-width: 0;
  padding: 8px 10px;
  margin: 2px 5px; }

.slicknav_nav .slicknav_row:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #da270b; }

.slicknav_nav a {
  border-bottom: solid 1px #ccc;
  color: #121212;
  margin: 2px 5px;
  padding: 6px 20px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.slicknav_nav a:hover {
  color: #da270b;
  text-decoration: none; }

.slicknav_nav .slicknav_txtnode {
  margin-left: 15px; }

.slicknav_nav .slicknav_item a {
  padding: 0;
  margin: 0; }

.slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0; }

.slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px; }

/*********************************************************************************************

11. Additional Color Palettes

*********************************************************************************************/
/* Black */
.theme-color-black a:hover, .theme-color-black a:focus {
  color: #da270b; }

.theme-color-black .large-nav a:hover,
.theme-color-black .large-nav a:focus,
.theme-color-black .large-nav .current-menu-item > a,
.theme-color-black .large-nav .current_page_item > a,
.theme-color-black .large-nav .current-menu-parent > a {
  color: #da270b; }

.theme-color-black .page-intro-header {
  background-color: #141414;
  color: #ccc; }

.theme-color-black .page-intro-subscribe {
  background-color: #212121;
  color: #aaa; }

.theme-color-black .page-intro-subscribe .widget-title,
.theme-color-black .page-intro-subscribe h2,
.theme-color-black .page-intro-subscribe h3 {
  color: #fff; }

.theme-color-black .page-intro-subscribe .page-title-span:after {
  background-color: #fff; }

.theme-color-black .ilovewp-featured-post .entry-title a,
.theme-color-black #site-home-welcome .widget-title {
  color: #fff; }

.theme-color-black .ilovewp-featured-post .entry-tagline,
.theme-color-black .site-archive-post .entry-tagline .post-meta-span-time,
.theme-color-black .single .entry-tagline .post-meta-span-time {
  background-color: #da270b; }

.theme-color-black .ilovewp-featured-page-item .entry-title a {
  background-color: #070707;
  color: #fff; }

.theme-color-black .ilovewp-featured-page-item .entry-title a:hover,
.theme-color-black .ilovewp-featured-page-item .entry-title a:focus {
  background-color: #da270b; }

.theme-color-black #site-footer .widget-title {
  color: #070707; }

.theme-color-black .site-breadcrumbs a:hover, .site-breadcrumbs a:focus {
  color: #da270b; }

.theme-color-black .pagination a {
  color: #da270b; }

.theme-color-black .pagination .current,
.theme-color-black .pagination a:hover,
.theme-color-black .pagination a:focus {
  background-color: #da270b;
  border-color: #da270b;
  color: #fff; }

.theme-color-black .pagination .current {
  color: #fff; }

/* Blue */
.theme-color-blue a:hover, .theme-color-blue a:focus {
  color: #da270b; }

.theme-color-blue .large-nav a:hover,
.theme-color-blue .large-nav a:focus,
.theme-color-blue .large-nav .current-menu-item > a,
.theme-color-blue .large-nav .current_page_item > a,
.theme-color-blue .large-nav .current-menu-parent > a {
  color: #da270b; }

.theme-color-blue .page-intro-header {
  background-color: #11189c;
  color: #C2C4F0; }

.theme-color-blue .page-intro-subscribe {
  background-color: #0e1481;
  color: #AFB2E9; }

.theme-color-blue .page-intro-subscribe .widget-title,
.theme-color-blue .page-intro-subscribe h2,
.theme-color-blue .page-intro-subscribe h3 {
  color: #fff; }

.theme-color-blue .page-intro-subscribe .page-title-span:after {
  background-color: #fff; }

.theme-color-blue .ilovewp-featured-post .entry-title a,
.theme-color-blue #site-home-welcome .widget-title {
  color: #fff; }

.theme-color-blue .ilovewp-featured-post .entry-tagline,
.theme-color-blue .site-archive-post .entry-tagline .post-meta-span-time,
.theme-color-blue .single .entry-tagline .post-meta-span-time {
  background-color: #3D4296; }

.theme-color-blue .ilovewp-featured-page-item .entry-title a {
  background-color: #070707;
  color: #fff; }

.theme-color-blue .ilovewp-featured-page-item .entry-title a:hover,
.theme-color-blue .ilovewp-featured-page-item .entry-title a:focus {
  background-color: #da270b; }

.theme-color-blue #site-footer .widget-title {
  color: #070707; }

.theme-color-blue .site-breadcrumbs a:hover, .site-breadcrumbs a:focus {
  color: #da270b; }

.theme-color-blue .pagination a {
  color: #da270b; }

.theme-color-blue .pagination .current,
.theme-color-blue .pagination a:hover,
.theme-color-blue .pagination a:focus {
  background-color: #da270b;
  border-color: #da270b;
  color: #fff; }

.theme-color-blue .pagination .current {
  color: #fff; }

/* Green */
.theme-color-green a:hover, .theme-color-green a:focus {
  color: #075007; }

.theme-color-green .large-nav a:hover,
.theme-color-green .large-nav a:focus,
.theme-color-green .large-nav .current-menu-item > a,
.theme-color-green .large-nav .current_page_item > a,
.theme-color-green .large-nav .current-menu-parent > a {
  color: #075007; }

.theme-color-green .page-intro-header {
  background-color: #075007;
  color: #CEE5CE; }

.theme-color-green .page-intro-subscribe {
  background-color: #043404;
  color: #BFE5BF; }

.theme-color-green .page-intro-subscribe .widget-title,
.theme-color-green .page-intro-subscribe h2,
.theme-color-green .page-intro-subscribe h3 {
  color: #fff; }

.theme-color-green .page-intro-subscribe .page-title-span:after {
  background-color: #fff; }

.theme-color-green .ilovewp-featured-post .entry-title a,
.theme-color-green #site-home-welcome .widget-title {
  color: #fff; }

.theme-color-green .ilovewp-featured-post .entry-tagline,
.theme-color-green .site-archive-post .entry-tagline .post-meta-span-time,
.theme-color-green .single .entry-tagline .post-meta-span-time {
  background-color: #B3E6B3;
  color: #043404; }

.theme-color-green .ilovewp-featured-page-item .entry-title a {
  background-color: #070707;
  color: #fff; }

.theme-color-green .ilovewp-featured-page-item .entry-title a:hover,
.theme-color-green .ilovewp-featured-page-item .entry-title a:focus {
  background-color: #075007; }

.theme-color-green #site-footer .widget-title {
  color: #070707; }

.theme-color-green .site-breadcrumbs a:hover, .site-breadcrumbs a:focus {
  color: #075007; }

.theme-color-green .pagination a {
  color: #075007; }

.theme-color-green .pagination .current,
.theme-color-green .pagination a:hover,
.theme-color-green .pagination a:focus {
  background-color: #075007;
  border-color: #075007;
  color: #fff; }

.theme-color-green .pagination .current {
  color: #fff; }

/* Orange */
.theme-color-orange a:hover, .theme-color-orange a:focus {
  color: #e17909; }

.theme-color-orange .large-nav a:hover,
.theme-color-orange .large-nav a:focus,
.theme-color-orange .large-nav .current-menu-item > a,
.theme-color-orange .large-nav .current_page_item > a,
.theme-color-orange .large-nav .current-menu-parent > a {
  color: #e17909; }

.theme-color-orange .page-intro-header {
  background-color: #e17909;
  color: #1d1001; }

.theme-color-orange .page-intro-subscribe {
  background-color: #c46908;
  color: #1d1001; }

.theme-color-orange .page-intro-subscribe .widget-title,
.theme-color-orange .page-intro-subscribe h2,
.theme-color-orange .page-intro-subscribe h3 {
  color: #fff; }

.theme-color-orange .page-intro-subscribe .page-title-span:after {
  background-color: #fff; }

.theme-color-orange .ilovewp-featured-post .entry-title a,
.theme-color-orange #site-home-welcome .widget-title {
  color: #fff; }

.theme-color-orange .ilovewp-featured-post .entry-tagline,
.theme-color-orange .site-archive-post .entry-tagline .post-meta-span-time,
.theme-color-orange .single .entry-tagline .post-meta-span-time {
  background-color: #070707;
  color: #fff; }

.theme-color-orange .ilovewp-featured-page-item .entry-title a {
  background-color: #070707;
  color: #fff; }

.theme-color-orange .ilovewp-featured-page-item .entry-title a:hover,
.theme-color-orange .ilovewp-featured-page-item .entry-title a:focus {
  background-color: #e17909; }

.theme-color-orange #site-footer .widget-title {
  color: #070707; }

.theme-color-orange .site-breadcrumbs a:hover, .site-breadcrumbs a:focus {
  color: #e17909; }

.theme-color-orange .pagination a {
  color: #e17909; }

.theme-color-orange .pagination .current,
.theme-color-orange .pagination a:hover,
.theme-color-orange .pagination a:focus {
  background-color: #e17909;
  border-color: #e17909;
  color: #fff; }

.theme-color-orange .pagination .current {
  color: #fff; }

/* Purple */
.theme-color-purple a:hover, .theme-color-purple a:focus {
  color: #7E1B5E; }

.theme-color-purple .large-nav a:hover,
.theme-color-purple .large-nav a:focus,
.theme-color-purple .large-nav .current-menu-item > a,
.theme-color-purple .large-nav .current_page_item > a,
.theme-color-purple .large-nav .current-menu-parent > a {
  color: #7E1B5E; }

.theme-color-purple .page-intro-header {
  background-color: #500738;
  color: #FAD1EC; }

.theme-color-purple .page-intro-subscribe {
  background-color: #340424;
  color: #F9C7E8; }

.theme-color-purple .page-intro-subscribe .widget-title,
.theme-color-purple .page-intro-subscribe h2,
.theme-color-purple .page-intro-subscribe h3 {
  color: #fff; }

.theme-color-purple .page-intro-subscribe .page-title-span:after {
  background-color: #fff; }

.theme-color-purple .ilovewp-featured-post .entry-title a,
.theme-color-purple #site-home-welcome .widget-title {
  color: #fff; }

.theme-color-purple .ilovewp-featured-post .entry-tagline,
.theme-color-purple .site-archive-post .entry-tagline .post-meta-span-time,
.theme-color-purple .single .entry-tagline .post-meta-span-time {
  background-color: #070707;
  color: #fff; }

.theme-color-purple .ilovewp-featured-page-item .entry-title a {
  background-color: #070707;
  color: #fff; }

.theme-color-purple .ilovewp-featured-page-item .entry-title a:hover,
.theme-color-purple .ilovewp-featured-page-item .entry-title a:focus {
  background-color: #7E1B5E; }

.theme-color-purple #site-footer .widget-title {
  color: #070707; }

.theme-color-purple .site-breadcrumbs a:hover, .site-breadcrumbs a:focus {
  color: #7E1B5E; }

.theme-color-purple .pagination a {
  color: #7E1B5E; }

.theme-color-purple .pagination .current,
.theme-color-purple .pagination a:hover,
.theme-color-purple .pagination a:focus {
  background-color: #7E1B5E;
  border-color: #7E1B5E;
  color: #fff; }

.theme-color-purple .pagination .current {
  color: #fff; }

/* Red */
.theme-color-red a:hover, .theme-color-red a:focus {
  color: #8b1104; }

.theme-color-red .large-nav a:hover,
.theme-color-red .large-nav a:focus,
.theme-color-red .large-nav .current-menu-item > a,
.theme-color-red .large-nav .current_page_item > a,
.theme-color-red .large-nav .current-menu-parent > a {
  color: #7E1B5E; }

.theme-color-red .page-intro-header {
  background-color: #8b1104;
  color: #F4C3BE; }

.theme-color-red .page-intro-subscribe {
  background-color: #6d0d03;
  color: #F4C3BE; }

.theme-color-red .page-intro-subscribe .widget-title,
.theme-color-red .page-intro-subscribe h2,
.theme-color-red .page-intro-subscribe h3 {
  color: #fff; }

.theme-color-red .page-intro-subscribe .page-title-span:after {
  background-color: #fff; }

.theme-color-red .ilovewp-featured-post .entry-title a,
.theme-color-red #site-home-welcome .widget-title {
  color: #fff; }

.theme-color-red .ilovewp-featured-post .entry-tagline,
.theme-color-red .site-archive-post .entry-tagline .post-meta-span-time,
.theme-color-red .single .entry-tagline .post-meta-span-time {
  background-color: #070707;
  color: #fff; }

.theme-color-red .ilovewp-featured-page-item .entry-title a {
  background-color: #070707;
  color: #fff; }

.theme-color-red .ilovewp-featured-page-item .entry-title a:hover,
.theme-color-red .ilovewp-featured-page-item .entry-title a:focus {
  background-color: #8b1104; }

.theme-color-red #site-footer .widget-title {
  color: #070707; }

.theme-color-red .site-breadcrumbs a:hover, .site-breadcrumbs a:focus {
  color: #8b1104; }

.theme-color-red .pagination a {
  color: #8b1104; }

.theme-color-red .pagination .current,
.theme-color-red .pagination a:hover,
.theme-color-red .pagination a:focus {
  background-color: #8b1104;
  border-color: #8b1104;
  color: #fff; }

.theme-color-red .pagination .current {
  color: #fff; }

/*********************************************************************************************

12. Media Queries 

*********************************************************************************************/
/* Tablet Landscape */
@media screen and (max-width: 1220px) {
  .site-section-wrapper {
    padding-right: 50px;
    padding-left: 50px;
    width: 100%; }

  .site-section-wrapper-footer {
    padding-right: 30px;
    padding-left: 30px; } }
/* Tablet Landscape */
@media screen and (max-width: 960px) {
  .entry-title {
    font-size: 1.25rem; }

  #site-homepage-widgets .widget-title,
  #site-main .archives-title,
  #site-main #reply-title,
  #ilovewp-comments .comments-title {
    font-size: 1.5rem; } }
/* Tabled Portrait */
@media screen and (max-width: 768px) {
  .site-section-wrapper {
    padding-right: 40px;
    padding-left: 40px;
    width: 100%; }

  .site-section-wrapper-footer {
    padding-right: 20px;
    padding-left: 20px; }

  .page-sidebar-right .site-column-content,
  .page-sidebar-right .site-column-aside,
  .page-sidebar-left .site-column-content,
  .page-sidebar-left .site-column-aside {
    display: block;
    float: none;
    width: 100%; }

  .page-sidebar-right .site-column-aside,
  .page-sidebar-left .site-column-aside {
    border-top: dashed 2px #ddd;
    margin-top: 3rem;
    padding-top: 3rem; }

  .page-sidebar-left .site-column-content .site-column-wrapper {
    padding-left: 0; }

  .page-sidebar-right .site-column-content .site-column-wrapper {
    padding-right: 0; }

  .site-section-page-header-wrapper {
    padding-top: 80px;
    padding-bottom: 50px; }

  #site-home-welcome .site-column-1 .site-column-wrapper {
    padding-right: 50px; }

  .page-intro-header {
    font-size: 0.9375rem; }

  .ilovewp-featured-post .entry-title {
    font-size: 1.5rem; }

  .page-title {
    font-size: 2rem; }

  #site-masthead {
    padding: 1.5rem 0; }

  #site-logo {
    display: block;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    width: 100%; }

  #site-logo img {
    height: auto;
    max-width: 100%;
    width: auto; }

  .ilovewp-featured-page-item .entry-title {
    position: relative;
    left: 0;
    bottom: 0; }

  .ilovewp-featured-page-item .entry-title a {
    display: block;
    text-align: center; }

  .ilovewp-featured-page-item .entry-thumbnail:after {
    content: none; }

  /* Main Menu */
  #site-primary-nav {
    display: none !important; }

  #site-menu-main,
  #menu-main-slick {
    display: none; }

  .site-section-wrapper-primary-menu {
    background: none; }

  #site-section-primary-menu,
  .site-navbar-header {
    border-width: 0;
    display: block;
    padding: 0;
    text-align: center;
    width: 100%;
    transition: all 0.2s ease-in-out; }

  #site-section-primary-menu {
    margin-top: 1.5rem; }

  .mm-listview {
    background-color: #131313;
    color: #fff;
    font-size: 0.8125rem;
    padding: 3rem 2rem; }

  .mm-listitem .mm-btn_next {
    color: #fff; }

  .mm-listview .mm-listview {
    display: block;
    padding: 0; }

  .mm-opened .sub-menu {
    display: block !important; }

  .mm-listview li {
    text-align: left;
    border-color: rgba(255, 255, 255, 0.1); }

  .mm-listview .mm-listview li {
    text-transform: none; }

  .mm-listview li {
    text-transform: uppercase; }

  .mm-listview .current-menu-parent > a,
  .mm-listview .current-menu-item > a,
  .mm-listview li a:hover,
  .mm-listview li a:focus {
    color: #cf4330; }

  .mm-menu_theme-dark .mm-listitem_opened > .mm-btn_next,
  .mm-menu_theme-dark .mm-listitem_opened > .mm-panel {
    background: none; }

  .mm-panel_has-navbar .mm-navbar {
    display: none; }

  .mm-panel_has-navbar {
    padding-top: 0; }

  .mm-listitem_vertical > .mm-panel {
    padding: 1rem; }

  .navbar-header {
    text-align: center; }

  .site-navbar-header,
  .navbar-toggle {
    display: block; }

  .navbar-toggle {
    float: none;
    margin: 0;
    padding: calc(1.25rem - 4px) 0.8125rem 1.25rem;
    text-align: center; }

  .btn_menu_icons {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle; }

  .btn_menu_span {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    line-height: 1em;
    margin: 0 auto 0 0.5rem;
    vertical-align: middle; }

  .navbar-toggle .icon-bar {
    background: #fff;
    display: block;
    width: 18px;
    height: 2px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px; }

  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px; }

  .sf-arrows .sf-with-ul:after {
    display: none; }

  .btn_menu_span:hover,
  .btn_menu_span:focus {
    text-decoration: underline; }

  /* End Main Menu */
  .theme-credit {
    display: none; } }
/* All Mobile Sizes (devices and browser) */
@media screen and (max-width: 640px) {
  .site-section-wrapper-footer {
    padding-right: 40px;
    padding-left: 40px; }

  #site-home-welcome .site-column-1,
  #site-home-welcome .site-column-2 {
    display: block;
    width: 100%; }

  #site-home-welcome .site-column-2 {
    margin-top: 3rem; }

  #site-home-welcome .site-column-1 .site-column-wrapper {
    padding-right: 0; }

  .site-columns-2 .site-column {
    display: block;
    width: 100%; }

  .site-columns-2 .site-column + .site-column {
    margin-top: 3rem; }

  #site-footer .site-column-wrapper {
    padding: 0; } }
/* All Mobile Sizes (devices and browser) */
@media screen and (max-width: 480px) {
  .entry-thumbnail .thumbnail,
  .entry-thumbnail .wp-post-image,
  .wp-caption img,
  .post-thumbnail .thumbnail {
    width: auto; }

  .page-intro-subscribe .widget-title,
  .page-intro-subscribe h2,
  .page-intro-subscribe h3 {
    font-size: 1.25rem; }

  .page-title-span:after {
    display: block;
    margin-top: 2rem;
    margin-left: 0; }

  .site-section-wrapper {
    padding-right: 30px;
    padding-left: 30px;
    width: 100%; }

  .site-section-wrapper-footer {
    padding-right: 30px;
    padding-left: 30px; }

  .page-intro-header {
    line-height: 1.8em; }

  .page-intro-subscribe {
    font-size: 0.9375rem; }

  #home-featured-pages {
    text-align: center; }

  .ilovewp-featured-pages-list .ilovewp-featured-page-item {
    display: inline-block;
    margin: 0 auto;
    width: auto; }

  .ilovewp-featured-pages-list .ilovewp-featured-page-item + .ilovewp-featured-page-item {
    margin-top: 3rem; }

  .site-archive-posts .entry-thumbnail {
    display: block;
    float: none;
    margin: 0 0 2rem;
    width: auto; }

  .site-archive-posts .has-post-thumbnail .entry-preview-wrapper {
    padding-left: 0; }

  .site-archive-posts .has-post-thumbnail .entry-preview {
    display: block;
    width: 100%; }

  .page-title {
    font-size: 1.5rem;
    margin-bottom: 2.5rem; }

  .entry-content .alignleft,
  .entry-content .alignright {
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto; }

  #site-footer .site-columns-2 .site-column {
    margin: 0;
    width: 100%; }

  #site-footer .site-columns-2 .site-column + .site-column {
    margin-top: 3rem; }

  #site-footer .site-columns .site-column-wrapper {
    padding: 0; }

  #site-footer {
    padding-top: 60px;
    padding-bottom: 60px; } }
/* All Mobile Sizes (devices and browser) */
@media screen and (max-width: 384px) {
  #site-homepage-widgets .widget-title,
  #site-main .archives-title,
  #site-main #reply-title,
  #ilovewp-comments .comments-title {
    font-size: 1.25rem;
    line-height: 1.5em; }

  .page-intro-header,
  .page-intro-subscribe,
  .site-archive-post .entry-preview {
    line-height: 1.7em; }

  .comment-author .avatar {
    display: none; }

  .entry-content,
  .archives-content {
    font-size: 0.9375rem;
    line-height: 1.7em; } }
